.doguitos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 10px;

}

h1 {
  color: #000000;
  margin-top: 25%;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
}

.dog-details {
  width: 300px; /* Largura desejada para o card */
  height: 450px; /* Altura desejada para o card */
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  margin-top: 50px;
  overflow: hidden;
}

.dog-image {
  max-width: 100%;
  max-height: 70%; /* Ajuste conforme necessário */
  object-fit: cover;
}
.buttonDetails{
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ff7b00;
}
.buttonDetails:hover {
  background-color: #dda200;
}
.button-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
}

.load-more-button {
  background-color: #ff7b00;
}

.load-more-button:hover {
  background-color: #dda200;
}