.doguitos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 10px;  

} 
h1{
  color: #000000;
  margin-top: 20%;
}
.card-list {
  margin-top: 10%;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  list-style: none;
  padding: 20px 0;
  justify-content: center; /* Centralizar os cartões horizontalmente */
} 

.card-list img {
  max-width: 100px; /* Define a largura máxima da imagem */
  height: auto; /* Mantém a proporção da imagem */
}
.dog-image {
  width: 250px; /* Defina a largura desejada para a imagem */
  height: 150px; /* Defina a altura desejada para a imagem */
  object-fit: cover; /* Mantém a proporção e corta a imagem se necessário */
}
.dog-card {
  flex: 1 1 calc(25% - 10px); /* Crescer e encolher conforme necessário, com margem */
  border: 1px solid #ccc;
  padding: 10px;
  text-align: center;
  background-color: #d60202;
}

.dog-card h2 {
  margin-top: 0;
}

.dog-card p {
  margin: 100px 0;
}

.dog-card img {
  max-width: 100%;
  height: auto;
}

.map-container {
  width: 100%;
  height: 100px;
  margin-top: 10px;
  border: 1px solid #ccc;
}
