.doguitos-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 20px;
  margin-top: 10px;

}

h1 {
  color: #000000;
  margin-top: 25%;
}

.card-list {
  display: flex;
  flex-wrap: wrap;
}

.dog-details {
  width: 300px; /* Largura desejada para o card */
  height: 450px; /* Altura desejada para o card */
  border: 1px solid #ccc;
  padding: 10px;
  box-sizing: border-box;
  text-align: center;
  margin-top: 50px;
  overflow: hidden;
  position: relative;
}

.dog-name {
  font-size: 20px;
  margin-top: 10px;
  max-height: 44px; /* Duas linhas com 22px de altura cada */
  overflow: hidden;
  margin-top: 10px;
}
.dog-image {
  margin-top: 35px;
  width: 300px;
  max-height: 200px;
  min-height: 200px; /* Ajuste conforme necessário */
  object-fit: cover;
}
.dog-text {
  max-height: 80px; /* Ajuste conforme necessário */
  overflow: hidden;
  margin-top: 10px;
}
/* .buttonDetails{
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  background-color: #ff7b00; */


.button-details {
  padding: 10px 20px;
  background-color: #ff7b00;
  color: white;
  border: none;
  border-radius: 3px;
  font-size: 16px;
  cursor: pointer;  
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
}

.button-details:hover {
  background-color: #dda200;
}

.button-container {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  width: 100%;
  text-align: center;
  padding: 100px;
}

.load-more-button {
  background-color: #ff7b00;
}

.load-more-button:hover {
  background-color: #dda200;
}