.animal-card {
    border: 1px solid #d48308;
    padding: 20px;
    display: flex;
    flex-direction: column;

    align-items: center;

    width: 500px;
}

.animal-details {
    display: flex;
    align-items: center;
}

.animal-photo {
    width: 100px;
    height: 100px;
    object-fit: cover;
    margin-right: 10px;
}

.animal-info {
    display: flex;
    flex-direction: column;
}

.animal-buttons {
    display: flex;
    gap: 10px;
    color: #b87120;
}

.title-and-link {
    text-align: center;
    margin-top: 20px;
}

.title {
    font-size: 24px;
    margin-bottom: 10px;
    margin-top: 250px;
}

.add-animal-link {
    font-size: 16px;
    color: #b87120;
    text-decoration: none;
}


.button {
    background-color: #ff7b00;
}

.button:hover {
    background-color: #dda200;
}

.danger-Zone{
    background-color: #e41010;
}

.danger-Zone:hover {
    background-color: #ff9a03;
}

