label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input,
textarea,
select {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 3px;
}

.form-box {
    align-items: center;
    background-color: #724f0d;
    border: 1px solid #ccc;
    padding: 30px;
    margin-top: 50px;
    border-radius: 10px;
    box-shadow: 0 2px 4px rgba(247, 120, 1, 0.1);
}

.error-message {
    color: rgb(0, 0, 0);
    margin-top: 10px;
}